.custom,
.custom * {
    box-sizing: border-box;
}

.custom {
    background: #eeebe3;
    /* padding: 0px 70px 50px 70px;
    position: relative;
    overflow: hidden; */
}

h3, p, h2, h1{
    font-family: 'Open Sans', sans-serif;
  }

#MENU,
#back {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 70px;
    top: 35px;
}

.judul {
    text-align: center;
    font-family: 'openSans';
    font-size: 48px;
    margin: 35px auto;
}

#Akun {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 1375px;
    top: 35px;
}

h2 {
    padding-left: 20px;
}

.ukuran {
    margin-top: 60px;
    padding: 20px 0px;
}

.ukuran button{
    background-color: transparent;
    border: transparent;
}

.item-ukuran {
    background-color: #e3e6ee;
    
    border-radius: 30px;
    text-align: center;
    font-size: 24px;
    width: 200px;
    height: 80px;
    margin: 10px;
    transition: border-radius 0.3s; /* Add transition for smooth effect */
  }

  .item-ukuran.selected {
    border: #000 solid; /* Adjust the border-radius for the selected state */
  }

.item-ukuran p {

}

.container-ukuran {
    display: flex;
}

.container-Katalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.allign-center {
    display: block;
    margin: 20px auto;
}

/* .box-katalog{
    width: 420px;
    height:400px;
    margin: 50px 10px auto 10px;
    
    display: block;
} */
/* .box-katalog-image{
    width: 420px;
    height: 280px;
    justify-content: center;
    border: 5px solid;
} */
.keterangan-box {
    align-items: center;
}

.add-box button {
    background-color: #B7ACAC;
    height: 50px;
    width: 30%;
    border: #000 solid;
}

.add-box span {
    font-size: 20px;
    font-weight: bold;
}

.nama {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    background-color: #d9d9d9;
    width: 205px;
}

.cart button {
    width: 15%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.nama p {
    margin: 5px auto;
}

.logo {
    width: 60px;
    height: 60px;

    margin: 20px;
}

.logo:hover {
    background-color: lightblue;
}


/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /* Sesuaikan tinggi sesuai kebutuhan Anda */
    width: 250px;
    /* Sesuaikan lebar sesuai kebutuhan Anda */
    z-index: 1000;
    background-color: #fff;
    transition: margin-left 0.3s ease;
    transition: width 0.3s ease;
    /* Animasi lebar sidebar */
}

.h-color {
    transition: background-color 0.3s ease;
    /* Animasi warna garis pemisah */
}

.sidebar li {
    transition: opacity 0.3s ease;
    /* Animasi opasitas item sidebar */
}

.sidebar a {
    color: #000;
    /* Sesuaikan warna teks sesuai kebutuhan Anda */
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    padding: 1rem;
}

.main-container {
    /* Properti lain yang sudah ada */
    transition: margin-left 0.3s ease;
    /* Ganti nilai sesuai preferensi Anda */
}

hr.h-color {
    background: #000;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #000;
}

#logoHome {
    margin-left: 100px;
    margin-top: 10px;
    max-width: 150%;
    height: auto;
}


.bi-list {
    font-size: 5rem;
}

.logo-judul{
    margin-right: 80px;
  }

@media (max-width: 576px) {

    .bi-list {
        font-size: 12vw;
    }

    #logoHome {
        width: 70%;
        margin-top: 5px;
    }

    .logo-judul {
        margin-right: 0px;
    }

    .logo {
        margin-right: 0px;
    }

    .judul{
        font-size: 24px;
      }

    .nama {
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        font-size: 15px;
        background-color: #d9d9d9;
        width: 205px;
    }

    .item-ukuran {
        background-color: #e3e6ee;
        border-radius: 20px;
        text-align: center;
        font-size: 24px;
        width: 90px;
        height: 80px;
        margin: 10px;
    }

    .jenis-button{
        font-size: 15px;
    }

    .item-ukuran p {
        margin-top: 15px;
        font-size: 15px;
    }

    .cart button {
        width: 50%;
        height: 50px;
        font-size: 15px;
        font-weight: bold;
    }
}